*{
  margin:0;
  padding:0;
  box-sizing:border-box;}

.top{   
   border: 1px solid black;
   background-color:lime;}

h1{
   text-align:center;
   font:50px "time new roman";}

p{
   display:block;
   text-align:justify;
   font:40px "time new roman";
   color:black;
   padding: 2px 15px 2px 15px;
   filter:drop-shadow(0 0 3px #000;)}

.menu{
   text-align:center;
   background-color:#eeeeee;}

.menu li{
   display:inline;
   padding:0 15px 0 15px;}
   
.menu li a{
   text-decoration:none;
   font:5vw "time new roman";
   color:black;}

.menu li a:hover{
   color:black;
   filter:drop-shadow(0 0 7px #0f0);}

.items{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    position:relative;
    margin:auto;}
	
.item{
    width:400px;
    height:400px;
    position:relative;
    overflow:hidden;
    margin:20px;
    border:3px solid #fff;
    background-color:#eee;}	

.item img{
    width:400px;
    height:400px;
    max-width:600px;}
	
.capa{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,100,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    transform:scale(0);
    transition:0.3s ease;}
	
.item:hover .capa{transform:scale(1);}		
	











